<div class="navbar">

    <div class="logo-box">
       <a href="/">
        <div class="logo-brand">CryptoBlue</div>
       </a>
    </div>

    <div class="main-btn-box">
        <div class="nav-btn-box">
           <div class="wallet-btn wallet"><a href="/connectwallet">Connect Wallet</a></div>
            <div class="wallet-btn sell"><a href="/addnewnft">Sell NFT</a></div>
        </div>
     </div>

</div>