<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/C.png" type="image/x-icon" />
    <link rel="stylesheet" href="connectwallet.css">
    <title>ryptoBlue</title>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    
    <div class="container">
        
        <img class="ball1" src="img/ball.png">
        <img class="ball2" src="img/ball.png">
        <img class="ball3" src="img/ball.png">
        <img class="ball4" src="img/ball.png">
        <img class="ball5" src="img/ball.png">
        
        <div class="text-warning">
            <div class="back-box">
                Coming Soon...
            </div>
            <div class="back-box desc">
                We are still working on it 
            </div>
            <div class="back-box desc imgback"><a class="backpage" href="/">
             
                Back to homepage 
            </a>
            </div>
        </div>
       
            
        </div>
            
        
    </div>

        

</body>
</html>