@import url('fonts/JosefinSans-Regular.ttf');
@import url('fonts/JosefinSans-Light.ttf');

@font-face {
    font-family: "Josefin";
    src: url('fonts/JosefinSans-Regular.ttf');
    src: url('fonts/JosefinSans-Regular.ttf') format("ttf"),
   
}

@font-face {
        font-family: "Josefin-light";
        src: url('fonts/JosefinSans-Thin.ttf');
        src: url('fonts/JosefinSans-Thin.ttf') format("ttf"),
       
}

    a{
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: flex;
        background-color: transparent;
        overflow-y: hidden;
        
    }

*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin', sans-serif;
    
overflow-x: hidden;
    
}
body{
    background-color: rgb(224, 224, 224);
}
img{
    background-color: transparent;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: rgba(242, 8, 120, 1);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: none;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(242, 8, 120, 0.2);
    border-radius: 10px;
    
  }

/* ____________________________________________ NAVBAR ____________________________________________ */

.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 2%;
}

.logo-box{

    width: 50%;
    height: 100%;
}

.logo-brand{
    width: 100%;
    padding: 0 0 2% 5%;
    font-size: 34px;
    font-weight: 500;
    background: #F20878;
    background: -webkit-linear-gradient(to right, #F20878 10%, #100BE4 25%);
    background: -moz-linear-gradient(to right, #F20878 10%, #100BE4 25%);
    background: linear-gradient(to right, #F20878 10%, #100BE4 25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-btn-box{
    width: 100%;
    height: 100%;
    display: flex;
    
}

.wallet-btn{
    margin-left: 52%;
    padding: 5px 5px 3px 5px;
    font-size: 16px;
    font-weight: 100;
    
}
.wallet-btn > a {
    color:rgba(242, 8, 120, 1);
    transition: 0.3s;
}
.wallet{
    width: 150px;
    height: 100%;
    text-align: center;
    justify-items: center;
    cursor: pointer;
    
    transition: 0.3s;
    color:rgba(242, 8, 120, 1);
}
.wallet-btn > a:hover{
    color:rgba(242, 8, 120, 0.5);
    color:rgba(242, 8, 120, 0.5);
    transform: scale(0.95);
}
.sell{
    color:rgba(242, 8, 120, 1);
    margin-left: 5%;
    transition: 0.3s;
    cursor: pointer;
}
.sell:hover{
    color:rgba(242, 8, 120, 0.5);
    transform: scale(0.95);
}
.main-btn-box{

    width: 50%;
    height: 100%;
    justify-items: center;
}

/* ____________________________________________ BALLS ____________________________________________ */

.ball1{
    background-color: transparent;
    display: inline;
    position: absolute;
    margin-left: 55%;
    margin-top: 2%;
    width: 35%;
    animation: crescendo 3s alternate infinite ease-in-out;
    transition: 0.3s;
}
.ball2{
    background-color: transparent;
    display: inline;
    position: absolute;
    margin-left: 35%;
    margin-top: -5%;
    width: 8%;
    transition: 0.3s;
    animation: crescendo 4s alternate infinite ease-in-out;
    
}
.ball3{
    background-color: transparent;
    display: inline;
    position: absolute;
    margin-left:95%;
    transition: 0.3s;
    width: 8%;
    animation: crescendo 7s alternate infinite ease-in-out;
}
.ball4{
    background-color: transparent;
    display: inline;
    position: absolute;
    margin-left:12%;
    margin-top: 30%;
    width: 4%;
    animation: crescendo 4s alternate infinite ease-in-out;
    transition: 0.3s;
}
.ball5{
    background-color: transparent;
    display: inline;
    position: absolute;
    margin-left:-9%;
    margin-top: -12%;
    width: 10%;
    animation: crescendo 2s alternate infinite ease-in-out;
    transition: 0.3s;
    
}
.ball6{
    background-color: transparent;
    display: inline;
    position: absolute;
    margin-left:35%;
    margin-top: 45%;
    width: 10%;
    animation: crescendo 7s alternate infinite ease-in-out;
    transition: 0.3s;
    
}
.ball7{
    background-color: transparent;
    display: inline;
    position: absolute;
    margin-left: 5%;
    margin-top: -5%;
    width: 8%;
    transition: 0.3s;
    animation: crescendo 4s alternate infinite ease-in-out;
    
}
.ball8{
    background-color: transparent;
    display: inline;
    position: absolute;
    margin-left: 5%;
    margin-top: 2%;
    width: 35%;
    animation: crescendo 3s alternate infinite ease-in-out;
    transition: 0.3s;
}

@keyframes crescendo {
    0%   {transform: scale(0.8) blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
    100% {transform: scale(1.2) ;
            filter: blur(15px);
            opacity: 0;
    }


  }
/* ____________________________________________ SESSION - 1 ____________________________________________ */
.container{
    width: 100%;
    height: 90vh;
    display: flex;
}
.icon_arrow{
    width: 40px;
    margin-left: 1%;
    text-decoration: none;
}
.shape-1{
    width: 65%;
}
.btn-store > a {
    color : rgba(242, 8, 120, 1);
    font-size: 24px;
}

.btn-store{
    width: 24%;
    font-size: 24px;
    margin: 4%;
    cursor: pointer;
    transition: 0.3s;
    color : rgba(242, 8, 120, 1);
    margin-top: 12%;
    display: flex;
    justify-content: left;
}
.btn-store:hover,.btn-join:hover{
    opacity: 0.5;
    transform: scale(0.9);

    
}

a > .txt {
    margin-top: 4%;
    background-color: transparent;
    font-weight: 100;
}
.title-homepage {
    transition: 0.3s;
width: 100%;
margin: 2%;
margin-top: 15%;
background: transparent;
transition: 0.3s;
  }
  .title-homepage:hover{
      transform: rotate(1deg) scale(0.99);
  }

  .card-container{
      width: 32%;
     
      text-align: center;
      justify-content: right;
     
      margin-right: 3%;
      margin-top: 3%;
     background-color: transparent;
     
  }
  .img-setup{
      width: 100%;
      opacity: 0.65;
      border-radius: 10%;

      -webkit-box-shadow: 0px 4px 10px 5px rgba(255,255,255,0.1); 
box-shadow: 0px 4px 10px 5px rgba(255,255,255,0.1);

  }

  .ponts{
      width: 100%;
      height: 20px;
      display: flex;
      justify-content: center;
      margin-top: 3%;
  }

  .dots {
    width: 10px;
    height: 10px;
    background: rgba(242, 8, 120, 0.25);
    border-radius: 50%;
    margin: 1%;
  }
  .activedot{
    background: rgba(242, 8, 120, 1);
  }

  /* ____________________________________________ SESSION - 2 ____________________________________________ */

  .container-2{
        padding-bottom: 5%;
        width: 100%;
        height: 100%;
        background-color: rgb(22, 22, 22);
  }
  .triangulo{
    width: 0; 
   height: 0; 
   margin-top: 5%;
   border-top: 20vh solid rgb(224, 224, 224); 
   border-right: 100vw solid rgb(22, 22, 22);
   
  }
  .desc-session-2{
      width: 100%;
      background-color: transparent;
      font-weight: 200;
  }
 
  .desc{
      text-align: center;
      font-size: 32px;
      padding: 10% 0 10% 0;
     color: rgba(242, 8, 120, 1);
        background-color: transparent;
    
  }

  .cards-grid{
      width: 100%;
      height: 100%;
      background-color: transparent;
      display: flex;
  }
 
  .img-box > img {
      opacity:1;
  }
.img-box{
    width: 100%;
    text-align: center;
    padding-top: 30%;
    background-color: transparent;
    opacity: 1;
}

  .img-setup-card{
      background-color: transparent;
      width:100px;
      justify-content: center;
  }

  .title-card-content{
      background-color: transparent;
      color: #F20878;
      font-size: 22px;
      font-weight: 700;
      width: 100%;
      margin-top: 10%;
      text-align: center;
  }
  .desc-card-content{
    width: 80%;
    margin: 5% auto;
    font-family: 'Josefin-light';
    background-color: transparent;
    padding: 2%;
    padding-bottom: 5%;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    justify-content: center;
    text-align: justify;
}

/* ____________________________________________ SESSION - 3 ____________________________________________ */

.container-3{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(22, 22, 22);
}
.bluetoken-box{
    width: 48%;
    margin: 0 auto;
    background-color: transparent;
}
.tokenbg{
    width: 100%;
}
.bluetoken-img{
    width: 100%;
    margin-top: 60% ;
    background: transparent;
    justify-content: center;
    text-align: center;
}
.bluetoken{
    width:80%;
  
}
.bluetoken-textbox{
    width: 100%;
    margin-top: 5%;
    background: transparent;
    display: flex;
}
.pontsvertical{
    display: block;
   width: 13%;
   background: transparent;
}
.dotsvert {
    width: 10px;
    height: 10px;
    background: rgba(242, 8, 120,0.25);
    border-radius: 50%;
    margin-left: 40%;
    margin-top: 10%;
    
}
.acdot{
    background: rgba(242, 8, 120);
}
.text-bluetoken{
    width: 100%;
    font-family: 'Josefin-light';
    font-weight: 100;
    font-size: 22px;
    line-height: 30px;
    color: white;
    background: transparent;
}

/* ____________________________________________ SESSION - 3.1 ____________________________________________ */

.container-2{
    padding-bottom: 5%;
    width: 100%;
    height: 100%;
    background-color: rgb(22, 22, 22);
}

.triangulo{
width: 0; 
height: 0; 
margin-top: 5%;
border-top: 20vh solid rgb(224, 224, 224); 
border-right: 100vw solid rgb(22, 22, 22);

}
.desc-session-2{
  width: 100%;
  background-color: transparent;
  font-weight: 200;
}

.desc{
  text-align: center;
  font-size: 32px;
  padding: 10% 0 5% 0;
 color: rgba(242, 8, 120, 1);
    background-color: transparent;

}


.storedesc{
    padding: 5% 0 2% 0;
}

.cards-grid-store{
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
}


.card-content-store{
    width: 250px;
   height: 100%;
      margin: 15% auto;
      background: transparent;
      transition: 0.3s;
      backdrop-filter: blur( 4px );
      -webkit-backdrop-filter: blur( 4px );
      overflow: hidden;
      
}
.intern-box-nft{
    transition: 0.3s;
    cursor: pointer;
}
.store{
  background: transparent;
}

.intern-box-nft:hover {
    transform: scale(0.95) ;
    filter: blur(5px);
    opacity: 1;
    
}
.intern-box-nft:hover + .showmore{
  filter: blur(0px);
    opacity: 1;
    transform: scale(1.1);
}
.showmore{
  transition: 0.3s;
    opacity: 0;
    transform: scale(0.95);
}


.card-content{
  width:250px;
 height: 450px;
    margin: 0 auto;
    background: rgb(224,10,114,0.2);
    background: linear-gradient(0deg, rgba(224,10,114,0) 40%, rgba(224,10,114,0.25) 100%);
    transition: 0.3s;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
  
}
.store:hover + .showmore{
    transform: scale(0.95);
    filter: blur(4px);
    opacity: 1;
    color: red;
}


.img-box > img {
  opacity:1;
}
.img-box-card{
width: 100%;
height: 305px;
text-align: center;
overflow-x: none;
background-color: transparent;
opacity: 1;
}

.img-setup-card-nft{
  background-color: transparent;
  width: 250px;
 height: 300px;
 
}
.title-id-box{
    display: flex;
    margin-top: 2% ;
}
.title-card-nft{
    display: flex;
    background-color: transparent;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Josefin-Light';
  font-weight: 700;
  width: 50%;
  
    margin-left: 5%;
  text-align: left;
}
.desc-card-nft{
display: flex;

margin-left: 5%;
font-family: 'Josefin-light';
background-color: transparent;
font-size: 18px;
line-height: 22px;
font-weight: 400;
color: #ffffff;
text-align: start;
}
.showmore{
    margin-top: 5%;
    margin-left: 0%;
    justify-content: center;
    opacity: 0.5;

}
.price-card-nft{
display: flex;
margin-left: 5%;
font-family: 'Josefin-light';
background-color: transparent;
font-size: 18px;
line-height: 22px;
margin-top: 8%;
font-weight: 400;
color: #ffffff;
text-align: start;
}

.id{
    background-color: transparent;
    justify-content: end;
    opacity: 0.25;
    width: 50%;
    margin-right: 5%;
}
.img-eth{
    height: 18px;
    margin-right: 2%;
    margin-left: -1%;
    color: #ffffff;
    justify-content: center;
    background-color:transparent;
}

.btn-newnft{
    transition: 0.3s;
  
    width: 220px;
    padding: 1%;
    font-weight: 600;
    color: rgb(0, 0, 0);
   margin: 0 auto;
    font-size: 24px;
    -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
   
}

.container-4 > #btncenter{
    display: flex;
    width: 100%;
    background-color: #100BE4;
}
a > .btn-newnft {
    text-align: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid  #F20878;
    color: #F20878;
    font-family: 'Josefin-Light';
}

.btn-newnft:hover{
    opacity: 0.5;
    transform: scale(0.9);

    
}


/* ____________________________________________ SESSION - 3 ____________________________________________ */

.container-3{
display: flex;
width: 100%;
height: 100%;
background-color: rgb(22, 22, 22);
}
.bluetoken-box{
width: 48%;
margin: 0 auto;
background-color: transparent;
}
.tokenbg{
width: 100%;
}
.bluetoken-img{
width: 100%;
margin-top: 60% ;
background: transparent;
justify-content: center;
text-align: center;
}
.bluetoken{
width:80%;

}
.bluetoken-textbox{
width: 100%;
margin-top: 5%;
background: transparent;
display: flex;
}
.pontsvertical{
display: block;
width: 13%;
background: transparent;
}
.dotsvert {
width: 10px;
height: 10px;
background: rgba(242, 8, 120,0.25);
border-radius: 50%;
margin-left: 40%;
margin-top: 10%;

}
.acdot{
background: rgba(242, 8, 120);
}
.text-bluetoken{
width: 100%;
font-family: 'Josefin-light';
font-weight: 100;
font-size: 22px;
line-height: 30px;
color: white;
background: transparent;
}
/* ____________________________________________ SESSION - 4 ____________________________________________ */
.container-4{
    width: 100%;
    height: 100%;
    background-color: rgb(22, 22, 22);
    text-align: end;
}
.text-waiting{
    margin-top: 5%;
    padding-right: 5%;
    font-size: 36px;
    font-family: 'Josefin-Light';
    font-weight: 700;
    color: #F20878;
    background: transparent;
   
}
.btn-join{
    transition: 0.3s;
    margin-top: 1%;
    width: 250px;
    padding: 1%;
    background-color: #F20878;
    color: rgb(0, 0, 0);
    margin-left: 74%;
    font-size: 24px;
    -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
   
}
.btn-join > a{
    text-align: center;
    justify-content: center;
    background: transparent;
    color: #000000;
    font-family: 'Josefin';
}

.newnft-btn{
    width: 100%;
    height: 30px;
    background-color: #100BE4;
}

/* ____________________________________________ SESSION - 5 ____________________________________________ */

.container-5{
    width: 100%;
    height: 100vh;
    background-color: rgb(22, 22, 22);
}
.text-contact{
    padding-top: 20%;
    margin: 3%;
    width: 50%;
    font-size: 32px;
    font-family: 'Josefin-Light';
    font-weight: 700;
    color: #F20878;
    background: transparent;
}
.img-social{
    
    display: flex;
    margin-left: 3%;
    transition:0.8s;
    background-color: rgba(255, 0, 0, 0.466);
}
.icon-social{
    width: 50px;
    background-color: transparent;
}

.text-social > a{
    
    height: 30px;
    font-size: 32px;
   
    background-color: transparent;
    overflow-y: hidden;
    color: #F20878;
    padding-top: 10%;
    margin-left: -100%;
    transition:0.8s;
    
    
    justify-content: center;

    
}
.main-media-box{
    display: flex;
    background-color: transparent;
    margin: 3%;
    margin-top: -1%;
}

.insta{
    margin-left: -7%;
}



.img-social-tt{
    width: 60px;
    height: 50px;
    display: flex;
    margin-left: 1%;
    transition:0.8s;
    background-color: transparent;
    
}
.text-tt {
    transition: 0.8s;
    margin-top: 1%;
    font-size: 32px;
    color: #F20878;
    width: 0%;
    filter: blur(20px);
    opacity: 0;
    height: 100px;
    text-align: center;

}

.img-social-tt:hover + .text-tt {
    filter: blur(0px);
    width: 12%;
    opacity: 1;
}
.shadow {
    width: 60px; 
   height: 0; 
transition: 0.8s;
   -moz-border-radius: 50px / 25px;
   -webkit-border-radius: 50px / 25px;
   border-radius: 50px / 25px;
  
    -webkit-box-shadow: 0px 0px 30px 6px rgba(242,8,120,0.93); 
box-shadow: 0px 0px 30px 6px rgba(242,8,120,0.93);
text-align: center;
margin-top: 10%;
    
 }

